TELEGRAM_BOT_TOKEN=
TELEGRAM_WHITELIST=
SERVER_URL=http://localhost:3000
PORT=3000
LOG_LEVEL=info
ADMIN_PASSWORD=
S3_ENDPOINT=
S3_BUCKET=
S3_ACCESS_KEY=
S3_SECRET_KEY=
YOUTUBE_COOKIES_FROM_BROWSER=chrome
YOUTUBE_COOKIES_PATH=./cookies.txt
YOUTUBE_EXTRACTOR_ARGS=youtube:formats=missing_pot
YOUTUBE_DOWNLOAD_TIMEOUT_MS=1800000
