# Database file
youtube2rss.db
youtube2rss.test.db

# Public folder
public/files/*
public/rss.xml

# Exception to the rule
!public/files/.gitkeep

# Node modules
node_modules/

# macOS
.DS_Store

# Environment variables
.env
.env.dev

# PM2 logs
logs/
.pm2/